# =====================
# ENV / SECRETS
# =====================
.env
.env.*

# =====================
# .NET BUILD OUTPUT
# =====================
bin/
obj/

# =====================
# IDE FILES
# =====================
.idea/
.vs/
.vscode/

# =====================
# USER / TEMP FILES
# =====================
*.user
*.suo
*.cache
*.log
*.tmp

# =====================
# APP SETTINGS (SECRETS)
# =====================
appsettings.Development.json
appsettings.Production.json
appsettings.json
appsettings.*.json

# =====================
# DATABASE FILES
# =====================
*.db
*.bak

# =====================
# OS JUNK (macOS)
# =====================
.DS_Store

# =====================
# FRONTEND BUILD OUTPUT
# =====================
node_modules/
dist/
frontend/node_modules/
frontend/dist/
frontend/.cert/
Hospital-Management-System/wwwroot/
Garb/ 
