@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div style="text-align:center; margin-top:100px;">
    <h1 style="font-size:60px; color:#ff3333;">500 !!</h1>
    <p style="font-size:20px;">
        There was an error processing your request.
    </p>
    <a href="/" style="font-size:18px; color:#007bff;">Go Back Home</a>
</div>